#sell.html
{% extends "base.html" %} {% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='sell.css') }}"
/>

<div class="sell-container">
  <form method="POST" enctype="multipart/form-data" action="">
    {{ form.hidden_tag() }}
    <!-- Upload Form -->
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Post New Listing</legend>

      <!-- First Name -->
      <div class="form-group">
        {{ form.first_name.label(class="form-control-label") }} {{
        form.first_name(class="form-control form-control-lg is-invalid" if
        form.first_name.errors else "form-control form-control-lg") }} {% for
        error in form.first_name.errors %}
        <div class="invalid-feedback">
          <span>{{ error }}</span>
        </div>
        {% endfor %}
      </div>

      <!-- Last Name -->
      <div class="form-group">
        {{ form.last_name.label(class="form-control-label") }} {{
        form.last_name(class="form-control form-control-lg is-invalid" if
        form.last_name.errors else "form-control form-control-lg") }} {% for
        error in form.last_name.errors %}
        <div class="invalid-feedback">
          <span>{{ error }}</span>
        </div>
        {% endfor %}
      </div>

      <!-- Email -->
      <div class="form-group">
        {{ form.email.label(class="form-control-label") }} {{
        form.email(class="form-control form-control-lg is-invalid" if
        form.email.errors else "form-control form-control-lg") }} {% for error
        in form.email.errors %}
        <div class="invalid-feedback">
          <span>{{ error }}</span>
        </div>
        {% endfor %}
      </div>

      <!-- Item being sold -->
      <div class="form-group">
        {{ form.item_name.label(class="form-control-label") }} {{
        form.item_name(class="form-control form-control-lg is-invalid" if
        form.item_name.errors else "form-control form-control-lg") }} {% for
        error in form.item_name.errors %}
        <div class="invalid-feedback">
          <span>{{ error }}</span>
        </div>
        {% endfor %}
      </div>

      <!-- Condition -->
      <div class="form-group">
        {{ form.condition.label(class="form-control-label") }} {{
        form.condition(class="form-control form-control-lg is-invalid" if
        form.condition.errors else "form-control form-control-lg") }} {% for
        error in form.condition.errors %}
        <div class="invalid-feedback">
          <span>{{ error }}</span>
        </div>
        {% endfor %}
      </div>

      <!-- Category -->
      <div class="form-group">
        {{ form.category.label(class="form-control-label") }} {{
        form.category(class="form-control form-control-lg is-invalid" if
        form.category.errors else "form-control form-control-lg") }} {% for
        error in form.category.errors %}
        <div class="invalid-feedback">
          <span>{{ error }}</span>
        </div>
        {% endfor %}
      </div>

      <!-- Colleges -->
      <div class="form-group">
        {{ form.college.label(class="form-control-label") }} {{
        form.college(class="form-control form-control-lg is-invalid" if
        form.college.errors else "form-control form-control-lg") }} {% for error
        in form.college.errors %}
        <div class="invalid-feedback">
          <span>{{ error }}</span>
        </div>
        {% endfor %}
      </div>

      <!-- Price -->
      <div class="form-group">
        {{ form.price.label(class="form-control-label") }} {{
        form.price(class="form-control form-control-lg is-invalid" if
        form.price.errors else "form-control form-control-lg") }} {% for error
        in form.price.errors %}
        <div class="invalid-feedback">
          <span>{{ error }}</span>
        </div>
        {% endfor %}
      </div>

      <!-- Image File -->
      <div class="form-group">
        {{ form.file.label(class="form-control-label") }} {{
        form.file(class="form-control form-control-lg is-invalid" if
        form.file.errors else "form-control form-control-lg") }} {% for error in
        form.file.errors %}
        <div class="invalid-feedback">
          <span>{{ error }}</span>
        </div>
        {% endfor %}
      </div>

      <!-- Description -->
      <div class="form-group">
        {{ form.description.label(class="form-control-label") }} {{
        form.description(class="form-control form-control-lg is-invalid" if
        form.description.errors else "form-control form-control-lg") }} {% for
        error in form.description.errors %}
        <div class="invalid-feedback">
          <span>{{ error }}</span>
        </div>
        {% endfor %}
      </div>

      <!-- Tags -->
      <div class="form-group">
        {{ form.tags.label(class="form-control-label") }} {{
        form.tags(class="form-control form-control-lg is-invalid" if
        form.tags.errors else "form-control form-control-lg") }} {% for error in
        form.tags.errors %}
        <div class="invalid-feedback">
          <span>{{ error }}</span>
        </div>
        {% endfor %}
      </div>

      <!-- Upload Date -->
      <div class="form-group">
        {{ form.upload_date.label(class="form-control-label") }} {{
        form.upload_date(class="form-control form-control-lg is-invalid" if
        form.upload_date.errors else "form-control form-control-lg") }} {% for
        error in form.upload_date.errors %}
        <div class="invalid-feedback">
          <span>{{ error }}</span>
        </div>
        {% endfor %}
      </div>
    </fieldset>
  </form>

  <div class="btn-container">
    <!-- Submit Button -->
    <div class="form-group text-center">
      <button type="submit" class="btn btn-outline-info">Upload</button>
    </div>

    <!-- Optional Form for Download Button -->
    <form method="get" action="/download">
      <div class="form-group text-center">
        <button type="submit" class="btn btn-outline-secondary">
          Download
        </button>
      </div>
    </form>
  </div>
</div>

{% endblock %}
